@tailwind base;
@tailwind components;
@tailwind utilities;


.h-10c {
  height: 10%;
}

.h-90c {
  height: 90%;
}

.basis-text {
  flex-basis: 35%;
}

.card-text {
  flex-basis: 42%;
}

.card-img {
  flex-basis: 55%;
}


@media screen and (min-width: 768px) {
  .basis-img {
    flex-basis: 64%;
  }
}